In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df = pd.read_csv("F:\Programming\Data.csv")
df

,Gender,Religion,Hometown,Maths_Marks,Science_Marks,Age,Time_Assignment,Teaching_method,ICT_tools,Academic_Level,Parents_occupation,Eating_habits,Weight_of_students,Sports_activity,Writing_hand,Total_annual_marks
0,Male,Hindu,Urban,60,45,15,1,Lecture,Social Media,Illiterate,Farmer,Vegeterian,35,Football,Right,500
1,Female,Hindu,Rural,40,60,16,2,Progressive,Communication,SLC,Government Job,Non-Vegeterian,40,Volleyball,Left,300
2,Female,Buddhist,Urban,45,90,15,3,Lecture,Communication,2,Teacher,Vegeterian,34,Basketball,Right,555
3,Male,Hindu,Urban,40,68,15,2,Progressive,Web based,Masters,Others,Non-Vegeterian,35,Badminton,Left,256
4,Male,Hindu,Rural,50,76,16,4,Lecture,Web based,Ph.D.,Government Job,Vegeterian,40,Others,Right,567
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Female,Other,Rural,47,66,18,1,Progressive,Social Media,Literate,Teacher,Vegeterian,46,Volleyball,Right,408
146,Female,Other,Rural,49,55,15,5,Progressive,Communication,Illiterate,Farmer,Vegeterian,65,Others,Right,395
147,Female,Muslim,Rural,50,44,15,4,Progressive,Web based,2,Teacher,Non-Vegeterian,43,Others,Left,361
148,Female,Other,Urban,70,33,16,2,Lecture,Web based,2,Others,Non-Vegeterian,71,Others,Left,516
149,Male,Muslim,Rural,60,33,17,2,Lecture,Social Media,Literate,Farmer,Non-Vegeterian,53,Volleyball,Right,458

In [ ]:
df.head(0)

Empty DataFrame
Columns: [Gender, Religion, Hometown, Maths_Marks, Science_Marks, Age, Time_Assignment, Teaching_method, ICT_tools, Academic_Level, Parents_occupation, Eating_habits, Weight_of_students, Sports_activity, Writing_hand, Total_annual_marks]
Index: []

In [ ]:
df.head()

,Gender,Religion,Hometown,Maths_Marks,Science_Marks,Age,Time_Assignment,Teaching_method,ICT_tools,Academic_Level,Parents_occupation,Eating_habits,Weight_of_students,Sports_activity,Writing_hand,Total_annual_marks
0,Male,Hindu,Urban,60,45,15,1,Lecture,Social Media,Illiterate,Farmer,Vegeterian,35,Football,Right,500
1,Female,Hindu,Rural,40,60,16,2,Progressive,Communication,SLC,Government Job,Non-Vegeterian,40,Volleyball,Left,300
2,Female,Buddhist,Urban,45,90,15,3,Lecture,Communication,2,Teacher,Vegeterian,34,Basketball,Right,555
3,Male,Hindu,Urban,40,68,15,2,Progressive,Web based,Masters,Others,Non-Vegeterian,35,Badminton,Left,256
4,Male,Hindu,Rural,50,76,16,4,Lecture,Web based,Ph.D.,Government Job,Vegeterian,40,Others,Right,567

In [ ]:
df.head(3)

,Gender,Religion,Hometown,Maths_Marks,Science_Marks,Age,Time_Assignment,Teaching_method,ICT_tools,Academic_Level,Parents_occupation,Eating_habits,Weight_of_students,Sports_activity,Writing_hand,Total_annual_marks
0,Male,Hindu,Urban,60,45,15,1,Lecture,Social Media,Illiterate,Farmer,Vegeterian,35,Football,Right,500
1,Female,Hindu,Rural,40,60,16,2,Progressive,Communication,SLC,Government Job,Non-Vegeterian,40,Volleyball,Left,300
2,Female,Buddhist,Urban,45,90,15,3,Lecture,Communication,2,Teacher,Vegeterian,34,Basketball,Right,555

In [ ]:
df.tail(3)

,Gender,Religion,Hometown,Maths_Marks,Science_Marks,Age,Time_Assignment,Teaching_method,ICT_tools,Academic_Level,Parents_occupation,Eating_habits,Weight_of_students,Sports_activity,Writing_hand,Total_annual_marks
147,Female,Muslim,Rural,50,44,15,4,Progressive,Web based,2,Teacher,Non-Vegeterian,43,Others,Left,361
148,Female,Other,Urban,70,33,16,2,Lecture,Web based,2,Others,Non-Vegeterian,71,Others,Left,516
149,Male,Muslim,Rural,60,33,17,2,Lecture,Social Media,Literate,Farmer,Non-Vegeterian,53,Volleyball,Right,458

In [ ]:
group = df.groupby('Gender')
group

In [ ]:
for Gender, Gender_df in group:
    print(Gender)
    print(Gender_df)

Female
     Gender  Religion Hometown  Maths_Marks  Science_Marks  Age  \
1    Female     Hindu    Rural           40             60   16
2    Female  Buddhist    Urban           45             90   15
7    Female  Buddhist    Rural           45             80   17
9    Female    Muslim    Rural           80             45   15
10   Female     Other    Urban           90             25   15
..      ...       ...      ...          ...            ...  ...
143  Female     Other    Urban           45             88   18
145  Female     Other    Rural           47             66   18
146  Female     Other    Rural           49             55   15
147  Female    Muslim    Rural           50             44   15
148  Female     Other    Urban           70             33   16

     Time_Assignment Teaching_method      ICT_tools Academic_Level  \
1                  2     Progressive  Communication            SLC
2                  3         Lecture  Communication              2
7                  1         Lecture  Communication              2
9                  5     Progressive  Communication     Illiterate
10                 4         Lecture      Web based            SLC
..               ...             ...            ...            ...
143                3     Progressive      Web based        Masters
145                1     Progressive   Social Media       Literate
146                5     Progressive  Communication     Illiterate
147                4     Progressive      Web based              2
148                2         Lecture      Web based              2

    Parents_occupation   Eating_habits  Weight_of_students Sports_activity  \
1       Government Job  Non-Vegeterian                  40      Volleyball
2              Teacher      Vegeterian                  34      Basketball
7               Farmer  Non-Vegeterian                  32       Badminton
9       Government Job      Vegeterian                  36      Volleyball
10             Teacher      Vegeterian                  34        Football
..                 ...             ...                 ...             ...
143            Teacher      Vegeterian                  70       Badminton
145            Teacher      Vegeterian                  46      Volleyball
146             Farmer      Vegeterian                  65          Others
147            Teacher  Non-Vegeterian                  43          Others
148             Others  Non-Vegeterian                  71          Others

    Writing_hand  Total_annual_marks
1           Left                 300
2          Right                 555
7           Left                 450
9          Right                 567
10         Right                 345
..           ...                 ...
143         Left                 356
145        Right                 408
146        Right                 395
147         Left                 361
148         Left                 516

[73 rows x 16 columns]
Male
    Gender  Religion Hometown  Maths_Marks  Science_Marks  Age  \
0     Male     Hindu    Urban           60             45   15
3     Male     Hindu    Urban           40             68   15
4     Male     Hindu    Rural           50             76   16
5     Male  Buddhist    Urban           48             45   17
6     Male  Buddhist    Rural           78             67   17
..     ...       ...      ...          ...            ...  ...
140   Male    Muslim    Urban           36             47   15
141   Male     Other    Urban           37             48   15
142   Male     Other    Urban           38             49   15
144   Male     Other    Rural           46             77   18
149   Male    Muslim    Rural           60             33   17

     Time_Assignment Teaching_method      ICT_tools Academic_Level  \
0                  1         Lecture   Social Media     Illiterate
3                  2     Progressive      Web based        Masters
4                  4         Lecture      Web based          Ph.D.
5                  5     Progressive  Communication       Literate
6                  3     Progressive   Social Media            SLC
..               ...             ...            ...            ...
140                2         Lecture   Social Media      Bachelors
141                3         Lecture   Social Media        Masters
142                3     Progressive      Web based      Bachelors
144                1     Progressive   Social Media              2
149                2         Lecture   Social Media       Literate

    Parents_occupation   Eating_habits  Weight_of_students Sports_activity  \
0               Farmer      Vegeterian                  35        Football
3               Others  Non-Vegeterian                  35       Badminton
4       Government Job      Vegeterian                  40          Others
5              Teacher      Vegeterian                  44          Others
6               Others  Non-Vegeterian                  45    Table Tennis
..                 ...             ...                 ...             ...
140     Government Job      Vegeterian                  51        Football
141             Others  Non-Vegeterian                  48    Table Tennis
142     Government Job      Vegeterian                  40       Badminton
144             Others      Vegeterian                  71      Basketball
149             Farmer  Non-Vegeterian                  53      Volleyball

    Writing_hand  Total_annual_marks
0          Right                 500
3           Left                 256
4          Right                 567
5           Left                 590
6           Left                 450
..           ...                 ...
140        Right                 379
141         Left                 525
142        Right                 308
144         Left                 549
149        Right                 458

[77 rows x 16 columns]